cover 99.5% in US and last 2 versions and supports webp and not dead

# try to support the browsers used by 95% of web users in the USA
# but only support the 2 newest versions of any given browser
# don't bother supporting browsers that don't support webp
# don't support dead browsers like IE 10